@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    font-family: 'Fira Code', monospace;
    padding: 0;
    margin: 0;

    --grid-gap: 10em;
}

/* NAVIGATION */

    /* TOP NAV */
nav {
    /* position: fixed;  */
    top: 0; 
    left: 0; 
    z-index: 9999; 
    width: 100%;
    background-color: #fff;
}

nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-bottom: 5vh;
}

.nav-btn {
    background-color: #fff;
    color: black;
    font-weight: bold;
    border: none;
    font-size: large;
    padding: 1em;
}

    /* SIDEBAR */

@media screen and (max-width: 992px) {
    .sidebar {
        visibility: hidden;
    }
}

.sidebar {
    display: flex;

    flex-direction: column;
    justify-content: space-around;

    position: fixed;
    top: 0;
    left: -10rem;
    width: 225px;
    height: 100%;
    padding: 20px 0;

    transition: all .1s ease-in-out;
}

.sidebar.active {
    display: flex;

    flex-direction: column;
    justify-content: space-around;

    left: 0;

    transition: all .1s ease-in-out;
}

/* CONTENT */

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section {
    height: 100vh;
    width: 50%;
}

@media screen and (max-width: 992px) {
    .section {
        width: 90%;
    }
}

    /* SKILLS TABLE */

.skills-table {
    width: 100%;
    border-collapse: collapse;
}

.skills-table thead tr {
    text-align: left;
}

.skills-table tr {
    border-bottom: 1px solid #aaa;
}

.skills-table td {
    padding-top: .3em;
    padding-bottom: .3em;
}

.skills-table tbody tr:last-of-type {
    border-bottom: none;
}

.skills-hint {
    font-size: small;
    padding-bottom: .3em;
}

    /* EXPERIENCE */

.cases {
    display: grid;
    gap: var(--grid-gap);
    grid-auto-flow: column;
    grid-auto-columns: 61%;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1em;

    /* padding: 25vh 0; */
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.cases > * {
    scroll-snap-align: start;
}

.case {
    border: 1px solid #192733;
    border-radius: 0.5em;
    padding: 1em;
    margin: .5em;
    width: 99%;
}

@media screen and (max-width: 992px) {
    .case {
        width: 80%;
    }

    .cases {
        grid-auto-columns: 100%;
    }
}

.name {
    padding-bottom: 0.5em;
}

.status {
    padding-bottom: 1em;
    font-size: small;
}

.status::before {
    content: 'Status: ';
}

.description {
    padding-bottom: 1em;
}

.case-link {
    text-decoration: none;
}

    /* CONTACTS */

.contacts-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 90%;
    /* align-items: flex-end; */
}

.links, .labels {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-end; */
    /* gap: 1em; */
}

.contact {
    font-size: xx-large;
    text-decoration: none;
    color: black;
}

.contact-label {
    font-size: large;
    text-decoration: none;
    color: black;
}